.pad{
padding-top: 15px;
}

.lineup {
    display: flex;
}
.inline {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.right {
    padding-right: 10px;
}

h6 {
    font-size: 26px;
}

.cardText {
    font-size: 25px;
}


@media only screen and (max-width: 800px) {
    .posts {
      font-size: large;
    }

    .inline {
        font-size: large;
      }

      .right {
        font-size: 23px;
      }

      .cardText {
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 600px) {

    .posts {
      font-size: medium;
    }

    .inline {
        font-size: medium;
      }

      .right {
        font-size: 23px;
      }

      .cardText {
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 460px) {
    .post-container {
      margin-right: -30px;
      margin-left: -30px;
    }

    .post-div {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .post-container2 {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
    
  }

  @media only screen and (max-width: 375px) {

    .wide-container1 {
      margin-left: -20px;
      margin-right: -20px;
    }

    .card3 {
      padding: 10px;
    }

    .title-text1 {
      font-size: 20px;
    }
  
    .cardText {
      font-size: 15px;
    } 

    .inline {
      font-size: 80%;
    }

    .right {
      font-size: 15px;
    }

    .row {
      margin: auto;
      max-width: 100%;
    }

    .cardPost {
        margin: auto;
        max-width: 100%;
    }
    
  }