.card-img-top {
    height: 15vw;
}

.card {
    height: 95%;
    margin: 0px;
}

.container {   
 max-width: 85%;
 margin: auto;
}

#bottomRow {
    margin-top: 25px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 785px) {

    #welmargin {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 770px) {

    #bottomRow {
        margin-top: -15px;
    }

     .card {
        height: 95%; 
        margin-bottom: 10px;
    }

    #imgs {
        height: 200px;
    }

    .mainTitle {
        font-size: 7vw;   
    }

    .mainTitle2 {
        font-size: 4vw;
    }

}

@media only screen and (max-width: 700px) {

    #bottomRow {
        margin-top: -15px;
    }

    .card {
        margin-bottom: 10px;
    }

    #imgs {
        height: 200px;
    }

    .mainTitle {
        font-size: 8vw;   
    }

    .mainTitle2 {
        font-size: 5vw;
    }

}

@media only screen and (max-width: 500px) {

    #bottomRow {
        margin-top: -15px;
    }

    .card {
        margin-bottom: 10px;
    }

    #imgs {
        height: 200px;
    }

    .mainTitle {
        font-size: 8vw;   
    }

    .mainTitle2 {
        font-size: 5vw;
    }

}

 @media only screen and (max-width: 375px) {

    #bottomRow {
        margin-top: -15px;
    }

    .card {
        margin-bottom: 10px;
    }

    #imgs {
        height: 150px;
    }

    .mainTitle {
        font-size: 9vw;   
    }

    .mainTitle2 {
        font-size: 6vw;
    }

}